---
layout: landing-page
css: ["index.css"]
title: index
---

<div class="row">
  <!-- Tags -->
  <div class="slide-top-delayed">
    <h2 class="h2-title z-depth-4">Latest Posts</h2>
    <div class="thi-columns z-depth-5">
      {% for post in paginator.posts %}
        <a class="post-title paper-raise" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}<small class="post-date">{{post.date | date: "%d/%m/%Y"}}</small>
        </a>
      {% endfor %}
    </div>
  </div>

<!-- uncomment this to bring back pagination

  <div class="col s12 center-align">
    <ul class="pagination slide-top-delayed">
      <li class="{% unless paginator.previous_page %}disabled{% else %}waves-effect{% endunless %}">
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="{{site.baseurl}}/">
        {% else %}
        <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
        {% endif %}
        {% else %}
        <a href="#!">
        {% endif %}
        <i class="las la-caret-left"></i>
        </a>
      </li>
      {% if paginator.page == 1 %}
      <li class="active">
        <a href="#!">1</a>
      {% else %}
      <li class="waves-effect">
        <a href="{{site.baseurl}}/">1</a>
      {% endif %}
      </li>
      {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li class="active"><a href="#!">{{count}}</a></li>
      {% else %}
      <li class="waves-effect"><a href="{{site.baseurl}}/page{{count}}">{{count}}</a></li>
      {% endif %}
      {% endfor %}
      <li class="{% unless paginator.next_page %}disabled{% else %}waves-effect{% endunless %}">
        {% if paginator.next_page %}
        <a href="{{site.baseurl}}/page{{paginator.next_page}}">
        {% else %}
        <a href="#!">
        {% endif %}
          <i class="las la-caret-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

-->

<!-- Categories -->
<div class ="row">
  <div class="col s12 cat-div">
    <div class="cat-list">
      {% for cat in site.categories %}
        {% assign forIndex = forloop.index | modulo: 4 %}
        {% if forIndex == 0 %}
          <div class="row">
        {% endif %}
    
          {% for catDat in site.data.categories %}
          {% if catDat.slug == cat[0] %}
            {% assign catego = catDat %}
          {% endif %}
          {% endfor %}
          {% if catego %}
            {% capture test %}{{cat[0] | slice: 0}}{% endcapture %}
            {% capture testup %}{{cat[0] | slice: 0 | upcase}}{% endcapture %}
            
            <!-- might want to change to "fadein" in the future-->
              <div class="col s3 slide-top-delayed-2">
                <div class="card cat-card z-depth-5">
                  <div class="card-image waves-effect waves-block" id="hover{{ forloop.index }}">
                    <a href="{{ site.baseurl }}/#{{cat[0] | slugify}}{% if test == testup %}_cap{% endif %}">		
                    <span class="card-title"><div class="card-div">{{ catego.name }}</div></span>
                    <img src="../{{ catego.image }}" id="pic-hover{{ forloop.index }}">
                    <img src="../{{ catego.gifimage }}" id="gif-hover{{ forloop.index }}">
                    </a>
                  </div>
                </div>
              </div>
    
          {% endif %}
    
        {% if forIndex == 0 %}
          </div>
        {% endif %}
    
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
	<div class="cat-index col s12">
		<section>
		{% for cat in site.categories %}
			{% for catDat in site.data.categories %}
			{% if catDat.slug == cat[0] %}
				{% assign catego = catDat %}
			{% endif %}
			{% endfor %}
			{% if catego %}
				{% capture test %}{{cat[0] | slice: 0}}{% endcapture %}
				{% capture testup %}{{cat[0] | slice: 0 | upcase}}{% endcapture %}
				<div class="tag-sec" id="{{cat[0] | slugify}}{% if test == testup %}_cap{% endif %}">
						<h1 class="cat-tag z-depth-5" class="text-cap">{{ catego.name }}</h1>
						<div class="thi-columns z-depth-4">
								{% for post in cat[1] %}
								<a class="post-title paper-raise" href="{{site.baseurl}}{{post.url}}">
                    {{post.title}}
										<small class="post-date">{{post.date | date_to_string}}</small>
								</a>
								{% endfor %}
						</div>
					</div>
			{% endif %}
		{% endfor %}
		</section>
	</div>
</div>

<div class="row">
  <div class="tag-div fadein">
    <h2 class="h2-title z-depth-5">Tags</h2>
    <div class="tag-list thi-single-column z-depth-5">
      {% for tag in site.tags %}
        {% capture test %}{{tag[0] | slice: 0}}{% endcapture %}
        {% capture testup %}{{tag[0] | slice: 0 | upcase}}{% endcapture %}
        <a class="tag-chip" href="{{ site.baseurl }}/#{{tag[0] | slugify}}{% if test == testup %}_cap{% endif %}"><div class="chip z-depth-1">{{tag[0]}}</div></a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="tag-index">
  {% for tag in site.tags %}
    {% capture test %}{{tag[0] | slice: 0}}{% endcapture %}
    {% capture testup %}{{tag[0] | slice: 0 | upcase}}{% endcapture %}
    <div class="tag-sec" id="{{tag[0] | slugify}}{% if test == testup %}_cap{% endif %}">
      <h1 class="cat-tag">{{ tag[0] }}</h1>
      <div class="thi-columns z-depth-4">
        {% for post in tag[1] %}
        <a class="post-title button paper-raise" href="{{site.baseurl}}{{post.url}}">
          {{post.title}}
          <small class="post-date">{{post.date | date_to_string}}</small>
        </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>