<div class="navbar-fixed top-nav">
  <nav>
    <div class="nav-wrapper">
      <!-- switch to container to make the width of the nav the same as the container-->
      <div class="row">
        <ul id="nav-mobile" class="left">
          <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="las la-bars la-lg"></i>
          </a>
          </li>
          <li>
          <a class="page-title font-title show-on-large" href="{{site.baseurl}}/">{{ site.title }}</a>
          </li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li><a href="{{ site.baseurl }}/categories">
            <i class="las la-book la-lg"><span class="left font-nav-title hide-on-med-and-down">Blog</span></i>
          </a>
          </li>
          <!--<li><a href="{{ site.baseurl }}/tags"><i class="material-icons">loyalty</i></a></li>-->
          <li><a href="{{ site.baseurl }}/about">
              <!--<i class="las la-info-circle la-lg"></i> -->
              <i class="las la-info-circle la-lg"><span class="left font-nav-title hide-on-med-and-down">About</span></i>
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/contact">
              <!--<i class="las la-address-card la-lg"></i> -->
              <i class="las la-address-card la-lg"><span class="left font-nav-title hide-on-med-and-down">Contact</span></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>