{% include header-nav.html %}
<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView thi-userView">
      <div class="background"></div>
        <a href="{{ site.baseurl }}/">
          <img style="display:inherit;" class="circle z-depth-2" src="{{ site.baseurl }}/assets/res/user.png">
        </a>
      <span style="font-size: x-large; padding:10px; font-family:'OpineHeavy'; color: rgb(156, 54, 52) !important;" class="white-text name">{{site.user.name}}</span>
      <span class="white-text email" style="color: #bdbdbd;"><!-- Programmer and Media Designer--></span>
    </div>
  </li>
  <div class="side-nav-text" id="nav-bar">
      
    <li><a class="waves-effect" href="{{ site.baseurl }}/"><i class="las la-home la-lg circle-icon"></i>Home</a></li>

      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="waves-effect collapsible-header">
            <i class="las la-book la-lg circle-icon"></i>
            Blog
            <i class="las la-caret-down right rotate la-rotate-270"></i></a>
          <div class="collapsible-body">
						<ul>       
              <li><a href="{{ site.baseurl }}/blog#life-offline">Life Offline</a></li>
							<li><a href="{{ site.baseurl }}/blog#code">Programming</a></li>
							<li><a href="{{ site.baseurl }}/blog#artwork">Artwork</a></li>
              <li><a href="{{ site.baseurl }}/blog#video">Videos</a></li>       
						</ul>
					</div>
        </li>
      </ul>

    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="{{ site.baseurl }}/about"><i class="las la-info-circle la-lg circle-icon"></i>About</a></li>
    <li><a class="waves-effect" href="{{ site.baseurl }}/contact"><i class="las la-id-card la-lg circle-icon"></i>Contact</a></li>

  
  </div>

    <form action="{{ site.baseurl }}/search" method="get">
      <div class="input-field">
        <input class="search-sidebar" type="search" name="q" {% if include.add_id %}id="search-input"{% endif %} placeholder="Search..." autofocus>
        <input type="submit" value="Search" style="display: none;">
      </div>
    </form>

</ul>