<form action="{{ site.baseurl }}/search" method="get">
	<div class="search-page">
		<input id="icon_prefix" type="search" name="q" {% if include.add_id %}id="search-input"{% endif %} placeholder="Search Site" autofocus>
		<input type="submit" value="Search" style="display: none;">
	</div>
</form>

<!--
<div class="row">
	<form action="{{ site.baseurl }}/search" method="get" class="col s12">
		<div class="input-field col s12">
			<div class="mat-div">
				<i class="material-icons prefix">search</i>
				<label for="icon_prefix" class="mat-label">Search</label>
				<input id="icon_prefix" type="search" class="mat-input" name="q" {% if include.add_id %}id="search-input"{% endif %} autofocus>
				<input type="submit" value="Search" style="display: none;">
			</div>
		</div>
	</form>
</div>
-->