@import 'palette';

// tip 
.thi-tip{
	background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  display: table;
  width: 100%;
  margin: 1rem 0;
  font-size: 17px;
  line-height: 160%;
}

// warning
.thi-warning{
	background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
  display: table;
  width: 100%;
  margin: 1rem 0;
}

.thi-tip a, .thi-warning a{
	text-decoration: underline;
}

li >.thi-tip, li>.thi-warning{
	margin: 0.5rem 0;
}

// thi box
.thi-box{
	margin: 2rem 0;
  overflow: auto;
  .box-title{
    background-color: $black-olive-accent-1;
    color: $black-olive;
    padding: 8px 15px;
    border-radius: 5px 5px 0 0;
  }
  .box-title p{
    margin: 0;
  }
  .box-content{
    border: 1px $black-olive solid;
    padding: 0 15px;
  }
}

.post-more-info{
  float: right;
  border: 3.5px dashed black;
  margin: 10px 0 10px 15px;
  padding: 10px;
  border-radius: 10px;
  color: $white;
  background-color: $black-olive; 
  font-size: 18px;
  @media only screen and (max-width: 699px){
    margin: 0 0 15px 0;
    float: initial;
    width: 100%;
    margin: 2rem 0;
  }
}

//summerize
.tomtat{
	margin: 10px!important;
	font-size: 0px!important;
}
.leg-title{
	background: $buzz-yellow;
	color: white;
	font-size: 120%;
	padding: 4px 10px;
	border-radius: 5px;
	font-weight: 500;
}

.field-set{
	border: $buzz-yellow 2px dashed;
	background: $dark-yellow;
	min-width: 0;
  padding: 0px 20px;
  margin-top: 1.5rem;
}

// hide/show
.collapsible.post{
  padding-left: 0!important;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-color: black;
  &> li{
    list-style-type: none!important;
  }
}
.collapsible-header.post{
  font-weight: 500;
  line-height: inherit!important;
  min-height: 0!important;
  padding: 0.5rem!important;
  background-color: $cg-red-accent-3;
  border-color: black;
  &>p{
    // margin: 10px 0!important;
    margin: 0;
  }
  i{
    line-height: initial!important;
    margin-right: 0.5rem!important;
  }
}
.collapsible-body.post{
  border-bottom: red !important;
} 

.collapsible-header.post:hover
{
  background-color: $cg-red-accent-2;
}

// p mark
.p-mark{
  border: 2px dashed $asparagus-accent-3;
  padding: 0.5rem 1rem;
  margin: 1.5rem auto;
  background: $asparagus;
  width: fit-content;
  @media only screen and (max-width: 600px){
    width: 100%;
    overflow: auto;
  }
}
