.footer-copyright .container {
  color: white;
  text-align: center;
}
.footer-copyright .containera {
  color: white;
}
.page-footer {
  padding-top: 0;
  display: none;
}
.footnote {
  opacity: initial;
  font-weight: 500;
  font-size: larger;
}
.footnote:before {
  content: "[";
}
.footnote:after {
  content: "]";
}
