@import 'palette';

h1{
	font-size: 2.6rem;
    font-weight: 500;
    margin: 0;
}

h2{
	font-size: 2.3rem;
	font-weight: 500;
	margin: 0;
}

h3{
	font-size: 1.8rem;
	font-weight: 500;
	margin: 0;
}

h4{
	font-size: 1.5rem;
	font-weight: bold;
}

.thi-post{
    h1 {
        counter-reset: h2counter;
    }
    h2{
        counter-reset: h3counter;
        font-size: 1.6rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1.5px solid $white;
        color: $white;
        //background: $raisin-black;
        margin-top: 3rem;
        overflow: hidden;
        &:first-of-type{
            margin-top: 1rem!important;
        }
        &:before {
            text-align: center;
            margin: 10px;
            //content: counter(h2counter) "\0000a0";
            content: counter(h2counter) ".";
            counter-increment: h2counter;
        }
        &~ h3:first-of-type, &+ h3{
            margin-top: 1rem;
        }
    }
    h3{
        counter-reset: h4counter;
        font-size: 1.3rem;
        //padding-left:5px;
        color: $white;
        //background-color: $cg-red-accent-3;
        margin-top: 2.2rem;
    }
    h2 + .thi-more + h3{
        margin-top: 1rem;
    }

    // numering
    h3:before {
        //content: counter(h2counter) "." counter(h3counter) ".\0000a0";
        counter-increment: h3counter;
    }
    h2.nocount:before {
        content: none;
        counter-increment: none;
    }
    h3.nocount:before {
        content: none;
        counter-increment: none;
    }
    h4{
        font-size: 1.25rem;
        font-weight: 500;
        color: $cg-red-accent-1;
        /*
        &:before {
            content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0";
            counter-increment: h4counter;
        }
        */
    }
}

.page-info h2{
    color: $white;
}
#page-info h2{
    color: $white;
    &:before{
        border-left: 4px solid;
        padding-left: 14px;
    }
}

#post-info{
    h3{
        color: $raisin-black;
        font-size: 2rem;
        font-weight: 500!important;
    }
}
