h1 {
  font-size: 2.6rem;
  font-weight: 500;
}
h2 {
  font-size: 2.3rem;
  font-weight: 500;
  margin: 1.2rem 0 1rem 0;
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.thi-post h1 {
  counter-reset: h2counter;
}
/*   
  border-bottom: 1.5px solid #729fda;
  color: #266ac1;
*/
.thi-post h2 {
  counter-reset: h3counter;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  overflow: hidden;
}
.thi-post h2:first-of-type {
  margin-top: 1rem !important;
}
.thi-post h2:before {
  content: counter(h2counter) ". ";
  counter-increment: h2counter;
}
.thi-post h2 ~ h3:first-of-type,
.thi-post h2 + h3 {
  margin-top: 1rem;
}
.thi-post h3 {
  counter-reset: h4counter;
  font-size: 1.3rem;
  color: white;
  margin-top: 2.2rem;
}
.thi-post h2 + .thi-more + h3 {
  margin-top: 1rem;
}
.thi-post h3:before {
  content: counter(h2counter) "." counter(h3counter) ". ";
  counter-increment: h3counter;
}
.thi-post h2.nocount:before {
  content: none;
  counter-increment: none;
}
.thi-post h3.nocount:before {
  content: none;
  counter-increment: none;
}

/*   color: darkgreen; */
.thi-post h4 {
  font-size: 1.25rem;
  font-weight: 500;
}
.thi-post h4:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ". ";
  counter-increment: h4counter;
}
/*
.page-info h2 {
  color: coral;
}
#page-info h2 {
  color: coral;
}
*/

#page-info h2:before {
  border-left: 4px solid;
  padding-left: 14px;
}

/*   color: coral; */
#post-info h3 {
  font-size: 2rem;
  font-weight: 500 !important;
}
