.thi-step {
  counter-reset: thi-step;
  margin: 2rem 0;
}
.thi-step:first-child {
  margin-top: 1rem;
}
.thi-step .step {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
}
.thi-step .step .step-number {
  width: 2rem;
}
.thi-step .step .step-number:before {
  counter-increment: thi-step;
  content: counter(thi-step);
  color: #999;
  font-weight: 500;
  font-size: 1.7rem;
}
.thi-step .step .step-content {
  width: calc(100% - 2rem);
  border-left: 3px solid #0c3a15;
  padding: 0 1rem;
}
