*{
    margin:0;
    padding:0;
}


#mousedownmark{
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background:#666;
    text-align: center;
}
#mousedownmark.hold{
    animation:animhold 0.5s;
    -webkit-animation:animhold 0.5s;
    animation-fill-mode: forwards;
}

#mousemark{
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background:#666;
    text-align: center;
}
#mousemark.click{
    animation:anim 0.5s;
    -webkit-animation:anim 0.5s;
}
@keyframes anim{
    50%{
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes anim{
    50%{
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-left: -25px;
        opacity: 0.8;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animhold{
    100%{
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
        opacity: 0.3;
    }
}
@-webkit-keyframes animhold{
    100%{
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-left: -25px;
        opacity: 0.8;
    }
}