---
---

@import 'list'
@import 'palette'

main
  div
    .row
      margin-top: 10px

  ul
    &:not(.browser-default)
      &.pagination
        li
          &.disabled
            a
              i
                visibility: hidden

          &.active
            background: $raisin-black
            color: $spanish-gray
          a
            color: $light-gray

            &:hover              
              text-decoration: none

#post-title
  margin-bottom: 2px
  font-weight: bold

#post-date
  margin-bottom: 8px
  font-size: 14px

  i
    font-size: 11.5px
    margin-right: 10px

#post-content
  margin-top: 5px


.h2-title
  color: $white
  font-size: 1.8rem
  background-color: $spanish-gray-accent-1-transparent
  padding: 10px
  border: 2px solid $light-gray-accent-1
  border-radius: 8px
  font-family: 'Maven Pro', sans-serif
  padding-bottom: 13.5px //this is added because of the maven pro font

//triangulate
.landing-page-row 
  margin-bottom: 200px

svg
  position: absolute
  z-index: -2

@media only screen and (max-width: 992px)
  svg    
    position: absolute
    background-color: translucent
    top: 0
    //max-height: 1500px
  .container
    //background-color: transparent
    padding: 0.5em