---
---

@import 'list'
@import 'palette'

main
  div
    .row
      margin-top: 20px

#page-info
  h3
    font-weight: bold
    margin-bottom: 5px

//Fade in Scroll
.fadein
  opacity: 0
  transform: translate(0, 10vh)
  transition: all 1s

.fadein.visible
  opacity: 1
  transform: translate(0, 0)


//Card Hover Zoom

.card
  margin-right: 20px
  overflow: visible
  background-color: $raisin-black
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

.card.cat-card
  overflow: hidden
  position: relative
  background-color: $raisin-black
  transform: scale(1)
  transition: 0.35s
  filter: grayscale(80%)

.card-image
  position: asbolute
  height: 190px
  width: 280px
  left: 0
  top: 0
  vertical-align: middle

//.card-image
//  transition: 0.25s
//  height: 210px
//  width: 280px
//  transform: scale(1)

.card.cat-card:hover
  transform: scale(1.1) 
  filter: grayscale(0%)

@media only screen and (max-width: 662px)
  .card
    width: 20vw
    height: 15vw
    margin-right: 2vw
  .card-image
    width: 20vw
    height: 15vw
    margin-right: 2vw
  .card-title
    //font-size: 2vw !important
    font-size: 0 !important

.card-title
  position: asbolute
  z-index: 100
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  text-align: center
  //display: block
  //background-color: $raisin-black-transparent
  //width: 280px
  //height: 3.5vw

//Highlight animation

\:target 
  animation: highlight 1s cubic-bezier(0.175, 0.885, 0.182, 1.5) both

@keyframes highlight
  0% 
    transform: rotateX(-100deg)
    transform-origin: top
    opacity: 0
  100% 
    transform: rotateX(0deg)
    transform-origin: top
    opacity: 1

.tag-index
  padding: 6px

.tag-sec
  margin-top: 20px

.h2-title
  color: $white
  font-size: 1.7rem
  background-color: $raisin-black
  padding: 10px
  margin: 20px 8px 0px 8px
  border: 2px solid $black-olive
  border-radius: 8px