---
---

@import 'list'
@import 'palette'

main
  div
    .row
      margin-top: 10px
      flex-grow : 1

#page-info
  h3
    font-weight: bold
    margin-bottom: 5px

//Fade in Scroll
.fadein
  opacity: 0
  transform: translate(0, 10vh)
  transition: all 1s

.fadein.visible
  opacity: 1
  transform: translate(0, 0)


//Card Hover Zoom

.card
  overflow: visible
  background-color: $raisin-black
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden
  border: 2px solid $cg-red

.card.cat-card
  margin: 8px
  overflow: hidden
  position: relative
  background-color: $raisin-black
  transform: scale(1)
  transition: 0.3s
  filter: grayscale(50%)
  border-radius: 16px !important
  //-webkit-clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%)
  //clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%)

.card-image
  position: absolute
  max-height: 240px
  max-width: 360px
  width: auto
  height: auto
  vertical-align: middle

.card-image
  img
    opacity: 0.6

//.card-image
//  transition: 0.25s
//  height: 210px
//  width: 280px
//  transform: scale(1)

.card.cat-card:hover
  transform: scale(1.1) 
  filter: grayscale(0%)
  
  img
    opacity: 1

.card.cat-card:hover .card-title
  transform: scale(1.15)

@media only screen and (max-width: 662px)
  .card-title
    //font-size: 2vw !important
    font-size: 16px !important
  .card-div
    //background: none !important
    //border: none !important

.card-title
  position: absolute
  z-index: 100
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
  text-align: center
  transition: 0.15s
  -webkit-text-stroke: 0.5px black
  //-webkit-font-smoothing: antialiased
  //box-shadow: 15px 15px 28px $raisin-black

.card-div
  background: $raisin-black-transparent
  //border-radius: 100px
  padding: 2.5px
  border: 1px solid $cg-red
  font-family: 'Roboto Condensed', sans-serif
  //-webkit-clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%)
  //clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%)

svg
  //stroke-width: 8px
  //paint-order: stroke
  //stroke: black

//Highlight animation

\:target:not(.main_cap)
  animation: dropdown 1s cubic-bezier(0.175, 0.885, 0.182, 1.5) both, highlight 0.75s

@keyframes dropdown
  0% 
    transform: rotateX(-100deg)
    transform-origin: top
    opacity: 0
  100% 
    transform: rotateX(0deg)
    transform-origin: top
    opacity: 1

@keyframes highlight
  0% 
    filter: brightness(7) blur(1px) hue-rotate(90deg)
  100% 
    filter: brightness(1) blur(0px) hue-rotate(0deg)

.h2-title
  padding: 10px
  color: $white
  font-size: 1.8rem
  font-family: 'Maven Pro', sans-serif
  //padding-bottom: 13.5px //this is added because of the maven pro font

.landing-title-bg-colour
  background-color: $raisin-black-transparent
  border-radius: 30px 

.h1-title
  padding: 10px
  text-align: center

.round-container
  border: 2px solid $light-gray-accent-1
  background-color: $spanish-gray-accent-1-transparent
  border-radius: 8px
  padding: 2px
  margin: 2px

@media only screen and (max-width: 992px)
  .h2-title
    padding: 7.5px
    margin: 0

//3d paper effect

// As is often the case, some devices/browsers need additional code to get CSS to work
// in the most desired way. These mixins are used to quickly drop in hacks for each element
@mixin hideTapHighlightColor()
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0,0,0,0)

@mixin hardwareAccel() 
  //Improve performance on mobile/tablet devices
  transform: translateZ(0)

@mixin improveAntiAlias()
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)

.paper-raise
  //display: inline-block
  //position: relative
  left: 0
  transition-duration: .3s
  transition-property: left top box-shadow

  @include hideTapHighlightColor()
  @include hardwareAccel()
  @include improveAntiAlias()
  box-shadow: inset 2px 2px 2px black, 0 0 1px rgba(0, 0, 0, 0)

  &:before
    pointer-events: none
    position: absolute
    z-index: -1
    content: ''
    top: calc(50% - #{10px})
    left: 0
    border-style: solid
    border-width: 10px 10px 10px 0
    border-color: transparent
    transition-duration: .3s
    transition-property: left
	
  &:hover 
    position: relative
    border-color: transparent
    left: 4px
    box-shadow: 2px 2px 2px black

  &:hover:before 
    left: (4px)
    transform: scaleX(-1)
    border-color: transparent $cg-red transparent transparent
  
  &:hover:active
    box-shadow: inset 2px 2px 2px black, 0 0 1px rgba(0, 0, 0, 0)


.profile
  float: right
  Height: 100% 
  Width: 270px 
  //Display: inline-block 
  margin: 7px 5px 5px 13px

.post-card
  width: 100%
  max-width: 100%
  //max-height: 237.422px
  object-fit: scale-down
  filter: grayscale(25%) brightness(100%)

.post-card-div
  //margin-top: 10px
  //margin-bottom: 10px
  display: inline-block
  overflow: hidden
  vertical-align: middle
  
  //max-height: 237.422px

  //max-height: 350px
  
  //border-style: solid
  //border-width: 5px
  //border-color: $raisin-black

.post-card-div img
  transition: 0.3s

.post-card-div img:hover
  transform: scale(1.05)
  filter: grayscale(10%) brightness(80%)
  color: white

.blackbg
  background-color: $raisin-black-transparent