---
---

// _sass/
@import 'step';
@import 'heading';
@import 'image';
@import 'header';
@import 'footer';
@import 'box';
@import 'font';
@import 'code';
@import 'toc';
@import 'grid';
@import 'list';
@import 'terminal';
@import 'keyboard';
@import 'palette';

// general
blockquote{
  margin: 2rem 0;
}
.notdisplay{
  display: none;
}

// youtube
@media (min-width: 993px){
  .youtube-3{
    width: 30%;
  }
  .youtube-4{
    width: 40%;
  }
  .youtube-5{
    width: 50%;
  }
  .youtube-6{
    width: 60%;
  }
  .youtube-7{
    width: 70%;
  }
  .youtube-8{
    width: 80%;
  }
  .youtube-9{
    width: 90%;
  }
  .youtube-10{
    width: 100%;
  }
}

.row .col{
	padding: 8px;
}

.thi-post .row .col{
	//padding: 0 0.75rem;
}

.thi-post{
  line-height: 180%;
}

body {
  counter-reset: h2counter;
}

// li ul:not(.browser-default){
//   padding-left: 20px;
// }


// .collapsible{
//   overflow: hidden;
// }

// .collapsible-body{
//   padding: 1rem!important;
// }

// li > .collapsible{
//   margin-top: 0.5rem;
//   margin-bottom: 1rem;
// }


hr{
  	margin: 1rem 0;
	border: 1px solid #eee;
}

.tag-sec{
  display: none;
}
:target{
  display: block;
}


.chip{
  margin-bottom: 10px;
  background-color: #eee;
}

#page-info{
  span{
    font-size: 80%;
  }
}


#post-info{
  span{
    font-size: 80%;
    @media only screen and (max-width: 992px){
      text-align: center;
    }
  }
}

//Don't know what this is for
#post-title{
	font-weight: 500!important;
}

.post-title{
  display: block;
  color: $cg-red;
  line-height: 30px;
  white-space: nowrap;
  font-size: 1.1em;
  border-radius: 9px;
}

@media only screen and (max-width: 662px)
{
  .post-title{
    background: $spanish-gray;
    border-radius: 6px;
    border: thin solid $raisin-black;
  }
}

.post-title:hover{
  color: $cg-red;
}

p ~ ul, p ~ ol{
	margin-top: -5px;
}

nav ul a{
  //line-height: 80px;
  font-size: 1.2rem;
  padding: 0 1vmin;
}

// table
td,th{
	padding: 10px 5px;
}
table{
	width: auto;
}
table, th, td{
	border: 1px solid #ddd;
}

.container .row{
	margin-left: inherit;
	margin-right: inherit;
}

.side-nav li>a{
  font-size: inherit;
}

// column
.thi-columns{
  -webkit-columns: 350px 2; /* Chrome, Safari, Opera */
  -moz-columns: 350px 2; /* Firefox */
  columns: 350px 2;
  background-color: $spanish-gray-accent-1;
  border-radius: 5px;
  margin: 8px;
  padding: 5px;

  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.thi-single-column{
  background-color: $spanish-gray-accent-1;
  border-radius: 5px;
  margin: 8px;
  padding: 5px;
}

.cat-tag{
	font-size: 1.5rem;
  color: $raisin-black;
  padding: 8px;
  border: 2px solid $black-olive;
  border-radius: 8px;
}

.search-sidebar{
	text-align: center;
	margin: 0;
}

.mat-icon{
	float: left;
	line-height: initial;
	margin-right: 10px;
}

#disqus_thread{
	margin-top: 20px;
}

.MathJax{
	font-weight: lighter;
}

.thi-more{
	font-size: 1.05rem;
	color: $cg-red;
	font-weight: 500;
	margin: 1rem 0;
	a{
		color: $cg-red;
	}
	i{
	margin-left: -10px;
		float: left;
	}
}
.thi-download{
	font-size: 1.05rem;
	color: #bb8821;
	font-weight: 500;
	margin: 1rem 0;
	a{
		color: #bb8821;
	}
	i{
		float: left;
		margin-right: 5px;
	}
}
.see-again{
  color: #5b119f;
  margin: 1rem 0;
  a{
    color: #925fc2;
    border-bottom: 1px solid #925fc2;
    padding-bottom: 2px;
    font-weight: 500;
  }
  i{
    vertical-align: middle;
  }
  span{
    vertical-align: middle;
  }
  & + ul, ol{
	margin-top: 1rem;
  }
}

.MathJax_Display{
	@media only screen and (max-width: 600px){
		overflow: auto;
	}
}

button{
  color: black;
}

input{
  color: black;
}