---
layout: default
css: ["page.css"]
js: ["landing-page.js"]
---
<header>
	{% if page.toc %}
		{% include header-wTOC.html %}
	{% else %}
		{% include header-wtTOC.html %}
	{% endif %}
</header>
<main>

    <div class="parallax-container">

		<div class="typing-effect-container slide-top">
				<p>
					<span class="landing-title-text">
						<span style="color: rgb(201, 35, 35)"></span>Brandon : <span class="typed-text"></span><span class="cursor">&nbsp;</span>
					</span>
				</p>
		</div>

		<div class="parallax"><img src="../images/background/04.jpg"></div>

	</div>

	<div class="container">
		<div class="row" id="bg">
			{{ content }}
			{% if site.disqus_shortname and page.comment %}
			  {% include disqus.html %}
			{% endif %}
		</div>
	</div>



	<!--
    <div class="parallax-container">
		<div class="parallax"><img src="images/background/01.jpg"></div>
	</div>		

    <div class="parallax-container">
		<div class="parallax"><img src="images/background/02.jpg"></div>
	</div>

    <div class="parallax-container">
		<div class="parallax"><img src="images/background/03.jpg"></div>
	</div>
	-->
</main>
