---
layout: default
css: ["page.css"]
---

<header>
	{% if page.toc %}
		{% include header-wTOC.html %}
	{% else %}
		{% include header-wtTOC.html %}
	{% endif %}
</header>
<main> 
	<!-- <div id="loading"></div>	 -->
	<object id="loading" type="image/svg+xml" data="/assets/res/brandonchanlogo.svg"></object>
	<div id="page">

	<div class="container">
		{% if page.title %}
		<div id="page-info">
			<div class="round-container">
				<h2 class="h2-title">{{page.title | replace: "- Brandon Chan", ""}}</h2>
			</div>
		</div>
		{% endif %}
		<div class="row thi-post">
			{{ content }}
			{% if site.disqus_shortname and page.comment %}
				{% include disqus.html %}
			{% endif %}
		</div>
	</div>
</main>
<style>
	.container:before{
		background-image: url({{page.background}});
	}

	.container{
		/*overflow: auto;*/
		position: relative;
		min-height: 100vh;
    	height: 100%;
	}

	body > * {
      flex-shrink: 0;
    }

	html,body 
	{
		display:flex;
		/*height:100%;*/
		flex-direction:column;
	}

</style>