---
layout: default
css: ["post.css", "toasts.css"]
js: ["post.js"]
---

<header>
  {% if page.toc %}
    {% include header-wTOC.html %}
  {% else %}
    {% include header-wtTOC.html %}
  {% endif %}
</header>
<main>
	<div id="loading"></div>	
	<div id="page">

  <div class="container">
    {% if page.coverimg %}

    <img alt="coverimg" class="post-cover" src="{{page.coverimg}}">
    <span style="padding:15px">
      Posted on
      <span style="display: initial;" class="cat-class">{{page.date | date_to_string}}</span>,
      in
      {% for cat in page.categories %}
        {% for catDat in site.data.categories %}
          {% if catDat.slug == cat %}
            {% assign catego = catDat %}
          {% endif %}
        {% endfor %}
        {% if catego %}
          <a class="cat-class cat-commas" href="{{site.baseurl}}/blog#{{cat | slugify}}">{{ catego.name }}</a>{% unless forloop.last %},{% else %}.{% endunless %}
        {% endif %}
      {% endfor %}
    </span>
  
    {% else %}
    <div id="post-info">
        <h3>{{page.title}}</h3>
      <span>
        Posted on
        <span style="display: initial;" class="cat-class">{{page.date | date_to_string}}</span>,
        in
        {% for cat in page.categories %}
          {% for catDat in site.data.categories %}
            {% if catDat.slug == cat %}
              {% assign catego = catDat %}
            {% endif %}
          {% endfor %}
          {% if catego %}
            <a class="cat-class cat-commas" href="{{site.baseurl}}/blog#{{cat | slugify}}">{{ catego.name }}</a>{% unless forloop.last %},{% else %}.{% endunless %}
          {% endif %}
        {% endfor %}
      </span>
    </div>
    {% endif %}

    <div class="divider"></div>
    <div class="row thi-post">
      <div class="col s12">
        {{ content }}
      </div>
    </div>

    <div class="tag-list">
      {% for tag in page.tags %}
      {% capture test %}{{tag | slice: 0}}{% endcapture %}
      {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
      <a class="tag-chip" href="{{site.baseurl}}/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}"><div class="chip z-depth-1">{{tag}}</div></a>
      {% endfor %}
    </div>
    {% if page.related %}
      {% include related-posts.html %}
    {% endif %}

    {% if site.disqus_shortname and page.comment %}
      {% include disqus.html %}
    {% endif %}
  </div>
</div>	  
</main>
